@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh;   */
    margin: 0;
    background-position: center;
    background-color: #62D4D4;
}
.container {
    background-color: #6AC3B9;
    width: 349.807px;
    /* height: 534.85px; */
    flex-shrink: 0;
    border-radius: 40px;
    box-shadow: 0 0 10px #6AC3B9;
}

form {
    display: flex;
    flex-direction: column;
}
.gi{
    width:100%;
    align-self: center;
    margin-top: 20px;
}
.na {
    color: #000;
    font-family: Abel;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

input, select {
    cursor: text;
    width: 278.832px;
    height: 37.178px;
    border: none;
    border-radius: 20px;
    background: #FFF;
    color: rgba(0, 0, 0, 0.62);
    font-family: Abel;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.sel{
    border-radius: 10px;
    background: #45938A;
    width: 278.832px;
    height: 45.627px;
    flex-shrink: 0;
    text-align: center  ;
}
.lab{
    margin-left: 30px;
    /* margin-top: 10px; */
    width: 64.216px;
    /* height: 32.953px; */
    flex-shrink: 0;
    color: #000;
    font-family: Abel;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
}
.btn {
    border-radius: 10px;
    border: none;
    font-family: poppins;
    color: white;
    font-size: 15px;
    background: #546ADA;
    width: 126.742px;
    height: 45.627px;
    flex-shrink: 0;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 12px;
    text-align: center;
    vertical-align: middle;
    size: 10cap;
}
.btn:hover{
    opacity: 0.7;
}
